<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student User Interface</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12" th:include="./static/HeaderDiv.html"></div>
    </div>
    <div class="row">
        <div class="col-xs-2" th:include="./static/MenuBar.html"></div>
        <div class="col-xs-10">
        </div>
    </div>
</div>

</body>
</html>